<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Sitio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
     <link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
 <header class="bg-light py-3 border-bottom">
    <div class="container d-flex align-items-center justify-content-between">
      <div>
        <img src="../static/imagen/logo.jfif" alt=""srcset="" height="80">
      </div>
      <div>
        <h1 class="titulo-morado text-center">Vía Firme – Plataforma de Reporte y Visualización de Huecos</h1>
      </div>
    </div>
  </header>

  <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="addPoint.html">Reportar Hueco</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://es.wikipedia.org/wiki/San_Crist%C3%B3bal_(Bogot%C3%A1)">San Cristóbal</a>
        </li>
        
      </ul>
    </div>
  </nav>


     <div id="map"></div>
     <div class="container">
          
     <form action="/registrar" method="POST">
     <div class="form-grid">
      <!-- COLUMNA IZQUIERDA (3 campos) -->
      <div>
        <label for="nombre">Nombre completo:</label>
        <input type="text" id="nombre" name="nombre">
        <label for="fecha">Fecha del reporte:</label>
        <input type="date" id="fecha" name="fecha">
        <label for="direccion">Dirección aproximada:</label>
        <input type="text" id="direccion" name="direccion">
      </div>
      <!-- COLUMNA DERECHA (2 campos grandes) -->
      <div>
        <label for="celular" >Celular:</label>
        <input type="tel" id="celular" name="celular" >
        <label for="estado">Estado del hueco:</label>
            <select id="estado" name="estado">
              <option value="">Seleccione</option>
              <option value="pequeño">Pequeño</option>
              <option value="mediano">Mediano</option>
              <option value="grave">Grave</option>
              <option value="crítico">Crítico</option>
            </select>
      <!-- CONTENEDOR DEL BOTÓN -->
  <div class="boton-derecha">
    <input type="submit" value="Agregar" class="btn-primary" />
  </div>
     <script src="../static/js/programa.js"></script>
      </div>
    </div>

</body>

</html>